.mainBox{
    padding: 0 100px;
}

.buy{

    font-size: 15px;
    color: #FB8F1D;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    padding: 10px 50px;
}
.title{
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
}
.empty{
    color: #B8BECD;
    display: block;
}
.boxBuy{
    display: flex;
    justify-content: right;
}
.boxEmpty{
    display: flex;
    justify-content: center;
}
.TotalPrice{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 20px;
}
.box{
    display: flex;
}