*{
    font-family: Arial;
    padding: 0;
    margin: 0;

}

.logo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.logo{
    display: flex;
    align-items: center;
}
.box{
    display: flex;
    align-items: center;
    padding: 10px 100px;
    justify-content: space-between;
}
.item{
    color: #76ff76;
}
.item a{
    text-decoration: none;
    font-size: 16px;
    color: #B8BECD;
}

.login{
    font-size: 15px;
    color: #FB8F1D;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    padding: 10px 50px;
    margin: 0 5px;
}
.login a{
    font-size: 15px;
    color: #FB8F1D;
    text-decoration: none;
}
.register{
    color: white;
    border: 1px solid #FB8F1D;
    background: #FB8F1D;
    border-radius: 8px;
    padding: 10px 50px;
    margin: 0 5px;
}
.register a{
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}

.units{
    flex-basis: auto;
    display: flex;
    align-items: center;
    width: 660px;
    justify-content: space-between;
}
.admin{
    font-size: 15px;
    color: #fff;
    border: 1px solid #FB8F1D;
    background: #FB8F1D;
    border-radius: 8px;
    padding: 5px 20px;
    margin: 0 5px;
}
.authorization{
    display: flex;
}

@media screen and (max-width:950px) {

    .units{
        width: 410px;
    }
    .login,
    .register{
        padding: 7px 35px;
        text-align: center;
    }
    .authorization{
        display: block;
    }

}