.box{

    text-align: center;
    border-top: 1px solid #C4C4C4;
    padding: 20px 0;
}
.network{
    padding:0 20px;
}
.text{
     font-family: 'Arial';
     font-style: normal;
     font-weight: 300;
     font-size: 17px;
     line-height: 28px;
     color: #848484;
    padding-top: 20px;
 }