*{
    box-sizing: border-box;
}
.mainBox{
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.box{
    position: relative;
    background: #fff;
    padding: 50px 100px 100px 100px;
    border-radius: 10px;
    box-shadow: #FF7F00 5px 5px 5px;
}
.close{
    position: absolute;
    right: 20px;
    top: 20px;
}
.title{
    margin-bottom: 90px;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    color: #FF7F00;
}

.legend{
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    color: #6C6A6A;
    text-align: center;
}
.input{
    font-size: 15px;
    height: 40px;
    width: 100%;
    border: 1px solid #6C6A6A;
    border-radius: 13px;
    padding: 0px 5px;
}
.btn{
    text-align: center;
    margin-top: 30px;
}
.btn button{
    padding: 10px 50px;
    border: 1px solid #FB8F1D;
    background: #FB8F1D;
    border-radius: 8px;
    font-size: 20px;
    color: #fff;
}

.customFileUpload {
    border: 1px solid #ccc;
    display: flex;
    padding: 6px 12px;
    cursor: pointer;
    justify-content: center;
    align-items: center;

}

.customFileUpload input[type="file"]{
    display: none;
}
.customFileUpload img{
    height: 30px;
}

