*{
    box-sizing: border-box;
}
.post{
    margin: 10px;
    border-radius: 10px;

    background: #fff;
    box-shadow: #FF7F00 5px 5px 1px;
    text-align: center;
}
.img{
    border-radius: 10px 10px 0px 0;
    width: 220px;
    height: 125px;
    background-color: #756e6e;
}
.item{
    padding: 5px 0;
}


.update{
    font-size: 15px;
    color: #FB8F1D;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    padding: 5px 20px;
    margin: 0 4px;
}
.iimg{
    height: 124px;
    border-radius: 10px 10px 0px 0;

}
.buy{
    font-size: 15px;
    color: #fff;
    border: 1px solid #FB8F1D;
    background: #FB8F1D;
    border-radius: 8px;
    padding: 5px 20px;
    margin: 0 4px;
    margin-bottom: 10px;
}
.feedback{
    color: #B8BECD;
    font-size: 10px;
    padding: 10px;
}